@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@font-face {
    font-family: neue machine;
    src: url(/assets/fonts/neue-machine.otf);
}
    
*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: black;
    color: white;
}

.main{
    padding: 1rem;
    border: 1px solid white;
    padding: 1rem;
    border-radius: 1.5rem;
}